{% extends "base.html" %}

{% block title %}Main Page{% endblock %}

{% block content %}
<section id="new">
<h2>更新情報・お知らせ</h2>
<dl>
<dt>2020/07/24</dt>
<dd>ページのレイアウトを仮組みしました</dd>
<dt>2020/07/25</dt>
<dd>もしアップデートがあったらここに書いていけたらと思います</dd>
<dt>2020/08/01</dt>
<dd>掲示板機能をつける段階で引数二つあるよエラーに苦しめられています</dd>
<dt>2020/08/02</dt>
<dd>どうやらアプリケーション側のurlsに.as_view()をつけないといけなかったみたいです</dd>
<dt>2020/08/04</dt>
<dd>上記のエラーに苦しめられすぎたのでGitコマンドをちゃんと覚えようと思います</dd>
<dt>2020/08/12</dt>
<dd>しばらくJavaの勉強に浮気していたことをここにお詫びします</dd>
<dt>2020/08/13</dt>
<dd>Gitの実用に伴って、プロジェクトを作り直してテンプレートなどのディレクトリ構造も簡略化しました。</dd>

</dl>
</section>

<section>

<h2>このページの情報</h2>

<h3>実装されている機能</h3>
<p>ゲーム<a href="https://www.nintendo.co.jp/switch/acbaa/index.html">あつまれどうぶつの森</a>の補助を目的としたwebアプリケーションです</p>
<p><span class="color1">■<strong>カブの変動パターンの予測</strong></span><br>
日曜に買ったカブの値段と、月曜以降の値動きから、四種あるカブの値動きのパターンを予測します。</p>
<p><span class="color1">■<strong>カブ価を共有する為の掲示板</strong></span><br>
現在の投稿者の島のカブの価格、招待コード、返礼の有無・方法などを記入して、理想的な値段での売買を促進するための掲示板です。</p>

<h3>前提知識</h3>
<p>・ゲーム「どうぶつの森」シリーズには、現実の株(stock)に見立てた値段の変動を見せる『カブ(turnip)』という金策方法があります。<br>
・ゲーム内時間の日曜日に１００ベル前後で『カブ』が売りに出されます。<br>
・日曜の間は買うことしかできませんが、月曜午前、月曜午後、火曜午前...土曜午後　と１２ブロックに分け、値段が変動します。<br>
・値段の変動パターンは４つ<br>
　　①緩やかに売値が上下する【波型】<br>
　　②ただただ土曜日に向け下がっていくだけの【ジリ貧型】<br>
　　③基本下落するが、どこかで1回値上がり、その後2回続けて値上がり3回目でピークを迎える【三期型】<br>
　　④どこかで四回連続で値上がりするが、三期型ほどの価格爆発は見せない【四期型】</p>

<h3>注意事項</h3>
<p> 表示される結果はあくまで予測であり、生まれる不利益等は一切補償しません。</p>

</section>
{%endblock%}