{% extends "base.html" %}

{% block title %}Link Page{% endblock %}


{% block content %}

<div id="contents">

<section>

<h2>リンク</h2>

<table class="ta1">
<caption>見出しが必要であればここを使います</caption>
<tr>
<th><a href="https://github.com/YSAKATA-mac/portfolio"><img src="/media/images/github.png" alt=""></a></th>
<td>このポートフォリオを作った人のGitHubです。</td>
</tr>
<tr>
<th><a href="#">サイト名</a></th>
<td>ここに説明など入れて下さい。サンプルテキスト。</td>
</tr>
<tr>
<th><a href="#">サイト名</a></th>
<td>ここに説明など入れて下さい。サンプルテキスト。</td>
</tr>
<tr>
<th><a href="#">サイト名</a></th>
<td>ここに説明など入れて下さい。サンプルテキスト。</td>
</tr>
<tr>
<th><a href="#">サイト名</a></th>
<td>ここに説明など入れて下さい。サンプルテキスト。</td>
</tr>
<tr>
<th><a href="#">サイト名</a></th>
<td>ここに説明など入れて下さい。サンプルテキスト。</td>
</tr>
<tr>
<th><a href="#">サイト名</a></th>
<td>ここに説明など入れて下さい。サンプルテキスト。</td>
</tr>
<tr>
<th><a href="#">サイト名</a></th>
<td>ここに説明など入れて下さい。サンプルテキスト。</td>
</tr>
</table>

</section>
</div>
{%endblock%}




